.imgWrap {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.card {
    transition: ease-in-out 0.3s;
    overflow: hidden;

}

.card:hover {
    box-shadow: 0px 2px 8px rgba(88, 88, 88, 0.425);
    transform: scale(1.01);
    cursor: pointer;
}